html {
    font-family: 'Poppins';
    background-color: #fff;
    color: #000;
}
.dark-mode {
    background-color: #313131;
    color: #ddd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar {
    overflow: hidden;
}
.navbar a {
     float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#mathDetail {
    float: left;
    margin: left;
    text-align: left;
}
#englishDetail {
    float: right;
    margin: right;
    text-align: right;
}
#hassdetail {
    float: left;
    margin: left;
    text-align: left;
}
.hover-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.hover-section {
    width: 200px;
    height: 150px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border-radius: 10px;
}
.hover-section:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#topTitleIndex::after {
    content: "StudyReview";
}
#mcsSection {
    text-align: center;
}
::selection {
    background-color: #81d5ff;
    color: #5f5f5f;
}
#indexFooter {
     color: #000;
     text-decoration: none;
}
footer {
    background-color: lightskyblue;
    width: 100%;
    color: #FFF;
    margin-left: 0;
    padding: 0;
}
#darkModeToggleBtn {
    border: none;
    background: none;
}
